<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>  Pregunta: <%= quiz.pregunta %>       Tema: <%= quiz.tema %> </p>
  <input type="text" name="respuesta" placeholder="Responda aqu&iacute;" />
  <input type="submit" value="Enviar" />
</form><br>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<% for (index in quiz.Comments) { %>
  <% if (quiz.Comments[index].publicado || session.user) {%>
    <% if (session.user && !quiz.Comments[index].publicado) { %>
      <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish">
      <button>Publicar</button>
      </a>
    <% } %>
    - <%= quiz.Comments[index].texto %><br>
  <% } %>
<% } %>
